// Custom styles.

#sidebar {
            background:url(/images/sidebar.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: black;}
}
.post {
   background: #fbfbfb // 白里透着灰
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
   opacity: 0.8
   border-radius: 10px // 圆角矩形走起
   //border: 1.5px solid #ccc // 边框
  }

body {
 background:url(/images/background.jpg);  //你的背景图片地址
 background-position: 10% 10%; /*Positioning*/
 background-attachment: fixed;
 background-repeat: no-repeat; /*Prevent showing multiple background images*/
 background-size: cover; // 等比例铺满屏幕
}
