// Custom styles.

#sidebar {
            background:url(/images/sidebar.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: black;}
}
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

body {
 background:url(/images/background.jpg);  //你的背景图片地址
 background-position: 10% 10%; /*Positioning*/
 background-attachment: fixed;
 background-repeat: no-repeat; /*Prevent showing multiple background images*/
 background-size: cover; // 等比例铺满屏幕
}
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    min-height: 500px;
    opacity: 0.8;
}